// achievments section

.about_achievments{
    margin-top: 3rem;
    .about_achievments-container{
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 5rem;
        .about_achievments-right{
            p{
                margin: 1.6rem 0 2.5rem;
            }
            .achievment_cards{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 1.5rem;
                .achievment_card{
                    background: var(--color-bg1);
                    padding: 1.6rem;
                    border-radius: 1rem;
                    text-align: center;
                    transition: var(--transition);
                    &:nth-child(2){
                        .achievment_icon{
                            background: var(--color-success);
                        }
                    }
                    &:nth-child(3){
                        .achievment_icon{
                            background: var(--color-primary);
                        }
                    }
                    &:hover{
                        background: var(--color-bg2);
                        box-shadow:0 3rem 3rem rgba(0,0,0,.3) ;
                    }
                    .achievment_icon{
                        background-color: var(--color-danger);
                        padding: .3rem;
                        border-radius: 1rem;
                        display: inline-block;
                        margin-bottom:2rem ;
                        font-size: 2rem;
                    }
                    p{
                       margin-top: 1rem ; 
                    }
                }
            }
        }
    }
}

//team members section

.team{
    background: var(--color-bg1);
    box-shadow:inset 0 0 3rem rgba(0,0,0,.5);
    .team_container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 2rem;
        .team_member{
        background: var(--color-bg2);
        padding: 2rem;
        border: 1px solid transparent;
        border-radius: 1rem;
        transition: var(--transition);
        position: relative;
        overflow: hidden;
        &:hover{
            background: transparent;
            border-color: var(--color-primary);
           &:hover img{
                filter: saturate(1);
            }
            &:hover .team_member-socials{
                right: 0;
            }
        }
        .team_member-image{
            
            img{
                filter: saturate(0);
            }
        }
        .team_member-info{
            text-align: center;
            margin-top: 1.4rem;
            p{
                color: var(--color-light);
            }
        }
        .team_member-socials{
            position: absolute;
            top: 50%;
            right: -100%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            background-color: var(--color-primary);
            border-radius: 1rem 0 0 1rem;
            box-shadow: -2rem 0 2rem rgba(0,0,0,.3);
            transition: var(--transition);
            a{
                padding: .6rem;
            }
        }
      }
    }
}


//Media Queries

// Tablets

@media screen and (max-width:1024px) {
    .about_achievments{
        margin-top: 2rem;
        .about_achievments-container{
            grid-template-columns: 1fr;
            gap: 4rem;
            .about_achievments-left{
                width: 80%;
                margin: 0 auto;
            }
        }
    }

    .team_container{
        grid-template-columns:repeat(3,1fr) !important;
        gap: 1.5rem !important;
        .team_member{
            padding: 1rem !important;
        }

    }
}

// smaller screens(mobile)

@media screen and (max-width:600px) {
    .achievment_cards{
        grid-template-columns: 1fr 1fr !important;
        gap: .7rem !important;
    }
    .team_container{
        grid-template-columns: 1fr 1fr !important;
        gap: .7rem !important;
        .team_member{
            padding: 0 !important;
            .p{
                margin-bottom: 1.5rem !important;
            }
        }
    }
}


